#all_pic_fragment {
  width: 408px;
  height: 408px;
  background-image: url(../image/timg_1.jpg);
  /*display: table;*/
  border: 7px solid rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 150px;
  left: 34%;
}

#show {
  position: absolute;
  top: 90px;
  left: 50px;
  height: 250px;
  width: 250px;
  background-image: url(../image/bg0_show.jpg);
}

#bt {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 300px;
  left: 950px;
  cursor: pointer;
  padding: 5px;
  background-color: rgba(230, 230, 230, 0.95);
}

#bt:hover {
  background-color: blue;
  color: white;
}

.row {
  /*display: table-row;*/
}

h1 {
  font-family: "Comic Sans Ms", sans-serif;
  text-align: center;
}

h2 {
  font-family: "Comic Sans Ms", sans-serif;
  text-align: center;
  color: rgba(30, 30, 120, 0.9);
}

.pic_frag {
  width: 100px;
  height: 100px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(220, 203, 147, 0.9);
  /*display: table-cell;*/
  cursor: pointer;
}

#pic_00 {
  background-image: url(../image/bg0.jpg);
  background-position: 0px 0px;
  position: absolute;
  top: 0px;
  left: 0px;
}

#pic_01 {
  background-image: url(../image/bg0.jpg);
  background-position: -105px 0px;
  position: absolute;
  top: 0px;
  left: 102px;
}

#pic_02 {
  background-image: url(../image/bg0.jpg);
  background-position: -210px 0px;
  position: absolute;
  top: 0px;
  left: 204px;
}

#pic_03 {
  background-image: url(../image/bg0.jpg);
  background-position: -315px 0px;
  position: absolute;
  top: 0px;
  left: 306px;
}

#pic_04 {
  background-image: url(../image/bg0.jpg);
  background-position: 0px -105px;
  position: absolute;
  top: 102px;
  left: 0px;
}

#pic_05 {
  background-image: url(../image/bg0.jpg);
  background-position: -105px -105px;
  position: absolute;
  top: 102px;
  left: 102px;
}

#pic_06 {
  background-image: url(../image/bg0.jpg);
  background-position: -210px -105px;
  position: absolute;
  top: 102px;
  left: 204px;
}

#pic_07 {
  background-image: url(../image/bg0.jpg);
  background-position: -315px -105px;
  position: absolute;
  top: 102px;
  left: 306px;
}

#pic_08 {
  background-image: url(../image/bg0.jpg);
  background-position: 0px -210px;
  position: absolute;
  top: 204px;
  left: 0px;
}

#pic_09 {
  background-image: url(../image/bg0.jpg);
  background-position: -105px -210px;
  position: absolute;
  top: 204px;
  left: 102px;
}

#pic_10 {
  background-image: url(../image/bg0.jpg);
  background-position: -210px -210px;
  position: absolute;
  top: 204px;
  left: 204px;
}

#pic_11 {
  background-image: url(../image/bg0.jpg);
  background-position: -315px -210px;
  position: absolute;
  top: 204px;
  left: 306px;
}

#pic_12 {
  background-image: url(../image/bg0.jpg);
  background-position: 0px -315px;
  position: absolute;
  top: 306px;
  left: 0px;
}

#pic_13 {
  background-image: url(../image/bg0.jpg);
  background-position: -105px -315px;
  position: absolute;
  top: 306px;
  left: 102px;
}

#pic_14 {
  background-image: url(../image/bg0.jpg);
  background-position: -210px -315px;
  position: absolute;
  top: 306px;
  left: 204px;
}

#pic_15 {
  cursor: auto;
}